.container {
    height: calc(var(--map-top) + var(--browser-height) + var(--playbar-height) - 15px);
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    touch-action: manipulation;
    width: 100%;
    z-index: 99;
    pointer-events: auto;

    @media (min-height: 301px) and (max-height: 453px) and (min-width: 400px),
    (min-width: 451px) {
        background-color: $color-background-2;
        border-radius: var(--corner-radius);
        display: flex;
        height: var(--playbar-height);
        overflow: hidden;
        padding-top: 0;
        position: relative;
        top: 0;
        margin-bottom: $margin;
    }

    @media (max-width: 450px) {
        pointer-events: none;
    }
}

.leftSide {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    overflow: hidden;

    @media (max-width: 450px) {
        display: none;
    }
}

.rightSide {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    @media (max-width: 450px) {
        display: none;
    }
}

.mobileContainer {
    bottom: 0;
    pointer-events: all;
    width: 100%;
    z-index: 2;
    height: var(--playbar-height);
    position: absolute!important;
}
.backgroundElement {
    background-color: $color-background-3;
    bottom: calc(0px - var(--tabbar-height) - 0px);
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: top;
    width: 100%;
    z-index: -1;
    bottom: 0;
}

.mobileContent {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--playbar-height);
    pointer-events: none;
    opacity: 1;
}

.mobileBtnContainer {
    align-items: center;
    display: flex;
    flex-grow: 0;
    height: 100%;
    position: relative;
    z-index: 1;
    pointer-events: all;
    top: 0;
}

.station {

    @media (min-height: 301px) and (max-height: 453px) and (min-width: 400px),
    (min-width: 451px) {
        height: calc(var(--playbar-height));
    }

    align-items: center;
    display: flex;
    overflow: hidden;
    padding: 0 0 0 $margin;
    width: 100%;
    z-index: 1;
}

.stationActions {
    @media (hover: hover) and (pointer: fine) {
        cursor: pointer;
    }

    bottom: 0;
    pointer-events: all;
    width: 100%;
    z-index: 2;
}

.titleContainer {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
}

.title {
    @media (min-width: 451px) {
        font-size: $type-2-size;
    }

    -webkit-font-smoothing: subpixel-antialiased;
    color: $color-primary;
    font-size: $type-3-size;
    overflow: hidden;
    padding-top: 2px;
    text-overflow: ellipsis;
    padding-bottom: 7.5px;
}

.subtitle {
    color: $color-foreground;
    font-size: $type-4-size;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (hover: hover) and (pointer: fine) {

    .title,
    .subtitle {
        -webkit-user-select: text;
        -moz-user-select: text;
        user-select: text;
    }
}

.hoverbg {
    pointer-events: all;

    &:hover {
        background-color: $color-background-hover;
        cursor: pointer;
    }
}

.btnBlock {
    align-items: center;
    display: flex;
    height: var(--playbar-height);
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: background-color .18s;
    width: 48px;

    @media (min-width: 451px) {
        height: calc(var(--playbar-height)/2);
    }

    &:first-child {
        border-radius: 0 var(--corner-radius) 0 0;
    }
}

.cH {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;

    &>div {
        background-color: $color-background-6;
    }

    .b {
        bottom: 0;
        transform-origin: bottom;
    }

    .t {
        top: 0;
        transform-origin: top;
    }

    .b,
    .t {
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
    }

    .l {
        left: 0;
        transform-origin: left;
    }

    .r {
        right: 0;
        transform-origin: right;
    }

    .l,
    .r {
        bottom: 0;
        position: absolute;
        top: 0;
        width: 1px;
    }
}

.fullHeight {
    height: 100%;
}