# Staged csv files
data

!data/station_metadata2.csv
!data/station_metadata3.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Spyder settings
.spyproject
.spyderproject

# Residuals
__pycache__
.pyc

# Mac trash
.DS_Store
