@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl font-bold
    }

    h2 {
        @apply text-xl font-semibold
    }

    h3 {
        @apply text-lg font-medium
    }

    h4 {
        @apply text-base font-bold
    }
}

:root {
    --boxbackground: #2A2A2A;
    --selectbutton: #262626;
    --dividerlinedark: #1E1E1E;
    --primarygreen: #1DB954;
    --intensity5: #199E48;
    --intensity4: #168A3F;
    --intensity3: #127535;
    --intensity2: #0F612C;
    --intensity1: #0C4D23;
    --texticons: #FFFFFF;
    --subtitle: #7C7C7C;
    --color-foreground: rgb(255, 255, 255);
    --color-map-foreground: #fff;
    --color-primary: rgb(0, 200, 100);
    --color-white-rgb: 255, 255, 255;

    --vh100: calc(var(--vh, 1vh)*100);
    --margin: 15px;
    --margin-50: calc(var(--margin)*0.5);
    --margin-70: calc(var(--margin)*0.7);
    --margin-100: var(--margin);
    --margin-125: calc(var(--margin)*1.25);
    --margin-150: calc(var(--margin)*1.5);
    --margin-200: calc(var(--margin)*2);
    --browser-header-height: 110px;
    --browser-wide-max-height: 780px;
    --scroll-buffer-height: 0px;
    --searchInputRowHeight: 51px;
    --playbar-detail-height: 256px;
}

@media screen and (max-width: 450px) {
    :root {
        --browser-header-height-collapsed: 78px;
        --tabbar-height: 50px;
        --playbar-height: 64px;
        --playbar-height-expanded: 120px;
        --rowbutton-height: 44px;
        --rowbutton-height-tall: 56px;
        --modal-button-height: 50px;
        --browser-height: calc(var(--vh100) - var(--tabbar-height) - var(--playbar-height));
        --corner-radius: 10px;
        --font-size-base: 16px;
        --map-top: 0px;
    }
}

@media (min-width: 451px) {
    :root {
        --browser-height: calc(var(--vh100) - var(--map-top) - var(--margin-200) - var(--margin) - var(--playbar-height) - var(--tabbar-height));
        --browser-header-height-collapsed: 78px;
        --tabbar-height: 60px;
        --playbar-height: 100px;
        --rowbutton-height: 38px;
        --rowbutton-height-tall: 50px;
        --modal-button-height: 38px;
        --desktop-ui-width: 325px;
        --desktop-ui-total-width: calc(var(--desktop-ui-width) + var(--margin));
        --desktop-globe-width: calc(100vw - var(--desktop-ui-total-width));
        --desktop-globe-outer-width: calc(100vw + var(--desktop-ui-total-width));
        --corner-radius: 8px;
        --font-size-base: 14px;
        --map-top: 0px;
    }
}

body {
    font-feature-settings: "tnum" 1, "kern" 1;
    -webkit-touch-callout: none;
    color: #000;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
}

.map {
    /* position: relative; */
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.marker {
    display: flex;
    height: 1.8rem !important;
    width: min-content !important;
}

.favorite-list .b:first-of-type {
    display: none;
}

.settings-items .b:first-of-type {
    display: none;
}