$color-background-1: rgb(43, 43, 43);
$color-background-2: rgb(42, 42, 42);
$color-foreground-3: grey;
$color-foreground-4: #373737;
$color-background-5: #232323;
$color-background-6: #1e1e1e;
$color-foreground: rgb(255, 255, 255);
$color-primary-intense: #00ff82;
$color-primary: rgb(0, 200, 100);
$color-map-foreground: #fff;
$color-black: #000;
$color-inactive: #fff;
$dim-70: 0.7;
$dim-50: 0.5;
$dim-40: 0.4;
$dim-30: 0.3;
$dim-20: 0.2;
$dim-15: 0.15;
$dim-10: 0.1;
$dim-4: 0.04;
$dim: $dim-10;
$dim-hover: 0.1;
$color-background-hover: rgba(0, 0, 0, $dim-hover);
$color-foreground-alpha-40: rgba(255, 255, 255, $dim-40);
$color-foreground-alpha-50: rgba(255, 255, 255, $dim-50);
$map-text-shadow: 0 0 2px #000;
$sidebar-width: 325px;
$margin: 15px;
$margin-50: calc($margin*0.5);
$tabbar-height: 60px;
$playbar-height: 100px;
$map-top: 0px;
$margin-200: calc($margin*2);
$crosshair-size: 80px;
$desktop-ui-width: 325px;
$desktop-ui-total-width: calc($desktop-ui-width + $margin);
$desktop-globe-width: calc(100vw - $desktop-ui-total-width);
$browser-height: calc(100vh - $map-top - $margin-200 - $margin - $playbar-height - $tabbar-height);
$browser-header-height: 110px;
$browser-header-height-collapsed: 78px;
$corner-radius: 8px;
$type-0-size: 1.84rem;
$type-0-line-height: 1.25;
$type-1-size: 1.6rem;
$type-2-size: 1.3rem;
$type-3-size: 1.1rem;
$type-3-line-height: 1.25;
$type-3-5-size: 0.9rem;
$type-3-5-line-height: 1.1693rem;
$type-4-size: 0.75rem;
$type-4-line-height: 1.35;
$type-5-size: 0.65rem;
$line-height-base: 1.3;
$globe-center-transition-duration: 1s;
$globe-center-transition-delay: 0.2s;
$icon-stroke-width: 1.5px;
$rowbutton-height: 38px;
$rowbutton-height-tall: 50px;