.container {
    display: none;
    height: 250px;
    position: absolute;
    right: var(--margin);
    top: var(--margin);
    width: 300px;

    @media (min-width: 1024px) and (min-height: 768px) {
        display: inherit;
    }
}