.empty {
    align-items: center;
    color: $color-foreground-alpha-50;
    display: flex;
    font-size: $type-3-size;
    height: 100%;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 66%;
}